USE [master]
GO
/****** Object:  Database [FoodDB]    Script Date: 2020-12-15 12:38:55 ******/
CREATE DATABASE [FoodDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FoodDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FoodDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FoodDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FoodDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FoodDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FoodDB]
GO
/****** Object:  Table [dbo].[Drink]    Script Date: 2020-12-15 12:38:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drink](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_Drink] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 2020-12-15 12:38:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[Price] [int] NOT NULL,
	[Id_Restaurant] [int] NOT NULL,
 CONSTRAINT [PK_Food] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredient]    Script Date: 2020-12-15 12:38:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Ingredient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredient_To_Food]    Script Date: 2020-12-15 12:38:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredient_To_Food](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Food] [int] NOT NULL,
	[Id_Ingredient] [int] NOT NULL,
 CONSTRAINT [PK_Ingredient_To_Food] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2020-12-15 12:38:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[CreationTime] [timestamp] NOT NULL,
	[CustomerFirstName] [varchar](50) NOT NULL,
	[CustomerLastName] [varchar](50) NOT NULL,
	[CustomerAdress] [varchar](50) NOT NULL,
	[CustomerCity] [varchar](50) NOT NULL,
	[CustomerZIPcode] [int] NOT NULL,
	[CustomerEmail] [varchar](50) NOT NULL,
	[CustomerPhoneNumber] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_To_Drink]    Script Date: 2020-12-15 12:38:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_To_Drink](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Order] [int] NOT NULL,
	[Id_Drink] [int] NOT NULL,
 CONSTRAINT [PK_Order_To_Drink] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_To_Food]    Script Date: 2020-12-15 12:38:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_To_Food](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerMessage] [varchar](50) NULL,
	[Id_Order] [int] NOT NULL,
	[Id_Food] [int] NOT NULL,
 CONSTRAINT [PK_Order_To_Food] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurant]    Script Date: 2020-12-15 12:38:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurant](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Popularity] [int] NULL,
 CONSTRAINT [PK_Restaurant] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD  CONSTRAINT [FK_Food_Restaurant] FOREIGN KEY([Id_Restaurant])
REFERENCES [dbo].[Restaurant] ([Id])
GO
ALTER TABLE [dbo].[Food] CHECK CONSTRAINT [FK_Food_Restaurant]
GO
ALTER TABLE [dbo].[Ingredient_To_Food]  WITH CHECK ADD  CONSTRAINT [FK_FoodIng_Id] FOREIGN KEY([Id_Food])
REFERENCES [dbo].[Food] ([Id])
GO
ALTER TABLE [dbo].[Ingredient_To_Food] CHECK CONSTRAINT [FK_FoodIng_Id]
GO
ALTER TABLE [dbo].[Ingredient_To_Food]  WITH CHECK ADD  CONSTRAINT [FK_Ingredient_Id] FOREIGN KEY([Id_Ingredient])
REFERENCES [dbo].[Ingredient] ([Id])
GO
ALTER TABLE [dbo].[Ingredient_To_Food] CHECK CONSTRAINT [FK_Ingredient_Id]
GO
ALTER TABLE [dbo].[Order_To_Drink]  WITH CHECK ADD  CONSTRAINT [FK_Drink_Id] FOREIGN KEY([Id_Drink])
REFERENCES [dbo].[Drink] ([Id])
GO
ALTER TABLE [dbo].[Order_To_Drink] CHECK CONSTRAINT [FK_Drink_Id]
GO
ALTER TABLE [dbo].[Order_To_Drink]  WITH CHECK ADD  CONSTRAINT [FK_OrderD_Id] FOREIGN KEY([Id_Order])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[Order_To_Drink] CHECK CONSTRAINT [FK_OrderD_Id]
GO
ALTER TABLE [dbo].[Order_To_Food]  WITH CHECK ADD  CONSTRAINT [FK_Food_Id] FOREIGN KEY([Id_Food])
REFERENCES [dbo].[Food] ([Id])
GO
ALTER TABLE [dbo].[Order_To_Food] CHECK CONSTRAINT [FK_Food_Id]
GO
ALTER TABLE [dbo].[Order_To_Food]  WITH CHECK ADD  CONSTRAINT [FK_Order_Id] FOREIGN KEY([Id_Order])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[Order_To_Food] CHECK CONSTRAINT [FK_Order_Id]
GO
USE [master]
GO
