<div class="jumbotron">
    <h1>Web API for Food ordering</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>För att ta imot och sända JSON</h2>
        <p>För att se inmatning- och utmatning klasser:</p>
        <div class="row">
            <div class="col-md-12">
                <p>Card:</p>
                <div class="row">
                    <div class="col-md-6">
                        <p><a class="btn btn-default" href="https://wrede.blue/API/Skola/UPM400/Help/ResourceModel?modelName=Card">Inmatning Card &raquo;</a></p>
                    </div>
                    <div class="col-md-6">
                        <p><a class="btn btn-default" href="https://wrede.blue/API/Skola/UPM400/Help/ResourceModel?modelName=Answer">Utmatning Answer &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <p>Drinks:</p>
                <div class="row">
                    <div class="col-md-6">
                        <p><a class="btn btn-default" href="https://wrede.blue/API/Skola/UPM400/Help/ResourceModel?modelName=EasyDrink">Inmatning EasyDrink &raquo;</a></p>
                    </div>
                    <div class="col-md-6">
                        <p><a class="btn btn-default" href="https://wrede.blue/API/Skola/UPM400/Help/ResourceModel?modelName=Drink">Utmatning Drink &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <p>Restaurants:</p>
                <div class="row">
                    <div class="col-md-6">
                        <p><a class="btn btn-default" href="https://wrede.blue/API/Skola/UPM400/Help/ResourceModel?modelName=EasyRestaurant">Inmatning EasyRestaurant &raquo;</a></p>
                    </div>
                    <div class="col-md-6">
                        <p><a class="btn btn-default" href="https://wrede.blue/API/Skola/UPM400/Help/ResourceModel?modelName=Restaurant">Utmatning Restaurant &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <p>Ingredients:</p>
                <div class="row">
                    <div class="col-md-6">
                        <p><a class="btn btn-default" href="https://wrede.blue/API/Skola/UPM400/Help/ResourceModel?modelName=EasyIngredient">Inmatning EasyIngredient &raquo;</a></p>
                    </div>
                    <div class="col-md-6">
                        <p><a class="btn btn-default" href="https://wrede.blue/API/Skola/UPM400/Help/ResourceModel?modelName=Ingredient">Utmatning Ingredient &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <p>Orders:</p>
                <div class="row">
                    <div class="col-md-6">
                        <p><a class="btn btn-default" href="https://wrede.blue/API/Skola/UPM400/Help/ResourceModel?modelName=EasyOrder">Inmatning EasyOrder &raquo;</a></p>
                    </div>
                    <div class="col-md-6">
                        <p><a class="btn btn-default" href="https://wrede.blue/API/Skola/UPM400/Help/ResourceModel?modelName=Order">Utmatning Order &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <p>Foods:</p>
                <div class="row">
                    <div class="col-md-6">
                        <p><a class="btn btn-default" href="https://wrede.blue/API/Skola/UPM400/Help/ResourceModel?modelName=EasyFood">Inmatning EasyFood &raquo;</a></p>
                    </div>
                    <div class="col-md-6">
                        <p><a class="btn btn-default" href="https://wrede.blue/API/Skola/UPM400/Help/ResourceModel?modelName=FoodImg">Utmatning FoodImg &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <p>Cities:</p>
                <div class="row">
                    <div class="col-md-6">
                        <p><a class="btn btn-default" href="https://wrede.blue/API/Skola/UPM400/Help/ResourceModel?modelName=EasyCity">Inmatning EasyCity &raquo;</a></p>
                    </div>
                    <div class="col-md-6">
                        <p><a class="btn btn-default" href="https://wrede.blue/API/Skola/UPM400/Help/ResourceModel?modelName=City">Utmatning City &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="col-md-6">Bra verkrtyg för att testa APIs calls</p>
            <p class="col-md-6"><a class="btn btn-default" href="https://www.postman.com/">Postman &raquo;</a></p>
            <p class="col-md-6"><a class="btn btn-default" href="https://www.soapui.org/">SoapUI &raquo;</a></p>
        </div>
        <p>För att snabbt se formatet på JSON använda en JSON formatter</p>
        <p><a class="btn btn-default" href="https://jsonformatter.curiousconcept.com/">En bra JSON formatter &raquo;</a></p>

    </div>
    <div class="col-md-6">
        <h2>För att se alla API Calls</h2>
        <p><a class="btn btn-default" href="https://wrede.blue/API/Skola/UPM400/Help">API Calls &raquo;</a></p>
    </div>
</div>
